<h1><%= @cocktail.name %></h1>

<%= cl_image_tag @cocktail.photo.url, height: 300, width: 400, crop: :fill %>

<h2>Recipe</h2>
<ul>
  <% @doses.each do |dose| %>
  <li><%= "#{dose.description} of #{dose.ingredient.name}" %></li>
  <% end %>
</ul>

<%= simple_form_for @cocktail do |f| %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.submit "add a photo", class: "btn btn-primary"%>
<% end %>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "add to cocktail", class: "btn btn-primary" %>
<% end %>
